body {
    background-image: url('https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg');
}

h1 {
    color: rgb(31, 215, 138);
}

p {
    color: rgb(170, 18, 217);
}

button, .text-button {
    text-decoration: none !important;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 120px;
    color: beige !important;
    cursor: pointer;
}

.button-1 {
    background-color: blueviolet;
}

.button-2 {
    background-color: red;
}

.image-button {
    background-image: url(cloud-arrow.png);
    width: 160px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}